<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rights.driver" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Права Водителя</name>
    <description>Мобильное приложение для защиты прав водителей при общении с ДПС</description>
    <author email="example@example.com" href="http://example.com">Driver Rights</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <platform name="android">
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-androidx" />
</widget>
